<form name="editMealForm" class="myForm" required ng-submit="vm.saveMeal(ngDialogData)">
		<div class="panel panel-default">
			<div class="row">
				<br/>
				<fieldset>
					<legend>Податоци за оброк</legend>
						<div class="col-md-12">
							<div class="col-md-3">
								<label for="MealDescription">Опис</label>
							</div>
							<div class="col-md-6">
								<input class="form-control" type="text" required name="MealDescription" id="MealDescription" ng-model="ngDialogData.Description" placeholder="Внеси опис на оброк...">
							</div>	
							<div ng-messages="editMealForm.MealDescription.$error">
							  <div ng-message="required">Задолжително поле</div>
							</div>	
						</div>
						<div class="col-md-12">
						<br/>
							<div class="col-md-3">
								<label for="MealType">Тип на оброк</label>
							</div>
							<div class="col-md-6">
								<select class="form-control" name="MealType" ng-model="ngDialogData.MealType">
									<option selected disabled value="">Одбери тип оброк</option>
									<option ng-repeat="mealtype in vm.allMealTypes" value="{{mealtype.ID}}">{{mealtype.Name}}</option>
								</select>	
							</div>
							<div ng-messages="editMealForm.MealType.$error">
							  <div ng-message="required">Задолжително поле</div>
							</div>	
						</div>
				</fieldset>
			</div>
			<br/>
			<div class="row">
				<input type="submit" class="btn btn-info pull-right" value="Зачувај промени"/>
			</div>
		</div>
</form>	