<form name="editUserForm" class="myForm" required ng-submit="vm.saveUser(ngDialogData)">
	<div class="panel panel-default form-group">
		<div class="row">
		<br/>
			<div class="col-md-12" style="margin-left:25px">
				<h3>Промени податоци за корисник</h3>
			</div>
			<div class="ng-hide">
				<label  ng-model="ngDialogData.ID" id="UserID">{{ngDialogData.ID}}</label>
			</div>
			<div class="col-md-12">
				<div class="col-md-3">
					<label for="Name">Име и презиме</label>
				</div>
				<div class="col-md-6">
					<input class="form-control" required type="text" autofocus="true" name="Name" id="Name" ng-model="ngDialogData.Name" placeholder="Внеси име и презиме...">
				</div>		
				<div ng-messages="editUserForm.Name.$error">
				  <div ng-message="required">Задолжително поле</div>
				</div>
			</div>
			<div class="col-md-12">
				<br/>
				<div class="col-md-3">
					<label for="PersonNumber">ID број</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" id="PersonNumber" pattern="[0-9]{8}" required name="PersonNumber" ng-model="ngDialogData.PersonNumber" placeholder="Внеси број на вработен...">
				</div>
				<div ng-messages="editUserForm.PersonNumber.$error">
				  <div ng-message="required">Задолжително поле</div>
				  <div ng-message="pattern">Полето треба да содржи 8 цифри</div>
				</div>
			</div>
			<div class="col-md-12">
				<br/>
				<div class="col-md-3">
					<label for="Username">Корисничко име</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" id="Username" pattern="MK[0-9]{4}" name="Username" ng-model="ngDialogData.Username" placeholder="Внеси корисничко име (MKxxxx)...">
				</div>
				<div ng-messages="editUserForm.Username.$error">
				  <div ng-message="pattern">Полето треба да содржи MK и 4 цифри</div>
				</div>
			</div>	
			<div class="col-md-12">
				<br/>
				<div class="col-md-3">
					<label for="CostCenter">Трошковно место</label>
				</div>
				<div class="col-md-6">
					<select id="costCenterS" name="costCenterS" required class="form-control" ng-model="ngDialogData.CostCenterSelect">
						<option selected disabled value="">Одбери трошковно место</option>
						<option ng-repeat="costCenter in vm.allCostCenters" value="{{costCenter.ID}}">{{costCenter.Name}}</option>
					</select>
				</div>
				<div ng-messages="editUserForm.costCenterS.$error">
				  <div ng-message="required">Задолжително поле</div>
				</div>
			</div>
			<div class="col-md-12">
				<br/>
				<div class="col-md-3">
					<label for="CostCenter">Корисничка улога</label>
				</div>
				<div class="col-md-6">
					<select id="userRole" name="userRole" required class="form-control" ng-model="ngDialogData.RoleModelSelect">
						<option selected disabled value="">Одбери улога</option>
						<option ng-repeat="role in vm.Roles" value="{{role.ID}}">{{role.RoleName}}</option>
					</select>
				</div>
				<div ng-messages="editUserForm.userRole.$error">
				  <div ng-message="required">Задолжително поле</div>
				</div>
			</div>	
			<div class="col-md-12">
				<br/>
				<div class="col-md-3">
					<label for="isEmployee">Вработен во Пивара?</label>
				</div>
				<div class="col-md-6">
					<input type="checkbox" id="isEmployee" ng-model="ngDialogData.isEmployee">
				</div>
			</div>
		</div>	
		<br/>
		<div class="row">
				<div class="col-md-12" style="margin-left:25px">
					<h3>SPICA картичка</h3>
				</div>
				<div class="col-md-12">
					<br/>
					<div class="col-md-3">
						<label for="CardNum">Број на картичка</label>
					</div>
					<div class="col-md-6">
						<input type="text" name="CardNum" required class="form-control" pattern="[0-9]{11}" id="CardNum" ng-model="ngDialogData.UserCards[0].Cards.CardNum" placeholder="Внеси картичка...">
					</div>
					<div ng-messages="editUserForm.CardNum.$error">
						<div ng-message="required">Задолжително поле</div>
						<div ng-message="pattern">Полето треба да содржи 11 цифри</div>
					</div>
				</div>
				<div class="col-md-12">
					<br/>
					<div class="col-md-3">
						<label for="CardType">Тип на картичка</label>
					</div>
					<div class="col-md-6">
						<input type="text" required name="CardType" class="form-control" id="CardType" ng-model="ngDialogData.UserCards[0].Cards.CardType" placeholder="Внеси тип на картичка...">
					</div>
					<div ng-messages="editUserForm.CardType.$error">
						<div ng-message="required">Задолжително поле</div>
					</div>
				</div>
		</div>
		<br/>
		<div class="row">
			<input class="btn btn-info pull-right" type="submit" value="Зачувај промени"/>
		</div>
	</div>	
</form>