<form name="submitCostCenterForm" class="myForm" required ng-submit="vm.saveCostCenter(ngDialogData)">
	<div class="panel panel-default">
		<div class="row">
		<br/>
		<legend>Додади ново трошковно место</legend>
			<div class="col-md-12">
				<div class="col-md-3">
					<label for="Name">Име</label>
				</div>
				<div class="col-md-6">
					<input class="form-control" type="text" id="Name" name="Name" ng-model="ngDialogData.Name" placeholder="Внеси назив на трошковно место...">
				</div>	
				<div ng-messages="submitCostCenterForm.Name.$error">
				  <div ng-message="required">Задолжително поле</div>
				</div>	
			</div>
			<div class="col-md-12">
				<br/>
				<div class="col-md-3">
					<label for="Code">Код на трошковно место</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" id="Code" name="Code" ng-model="ngDialogData.Code" placeholder="Внеси код на трошковно место...">
				</div>
				<div ng-messages="submitCostCenterForm.Code.$error">
				  <div ng-message="required">Задолжително поле</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<input type="submit" class="btn btn-info pull-right" value="Зачувај промени"/>
		</div>
	</div>	
</form>