<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">Организација и планирање на датуми</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<calendar-md flex layout layout-fill
		calendar-direction="vm.direction"
		on-prev-month="vm.prevMonth"
		on-next-month="vm.nextMonth"
		on-day-click="vm.dayClick"
		title-format="'MMMM y'"
		week-starts-on="1"
		ng-model="vm.selectedDate"
		data-start-month="9"
		data-start-year="2016"
		tooltips="tooltips"
		day-format="dayFormat"
		day-label-format="'EEE'"
		day-label-tooltip-format="'EEEE'"
		day-tooltip-format="'fullDate'"
		day-content="vm.setDayContent"
		disable-future-selection="false"
		class="ng-pristine ng-untouched ng-valid layout-fill ng-isolate-scope layout-row flex">
		</calendar-md>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="availableyears">Година за преглед</label>
			<select  id="availableyears" 
			class="form-control" 
			ng-options="year for year in vm.availableYears" 
			ng-change="vm.getAllDates()"
			ng-model="vm.selectedYear">
			</select>
		</div>
		<table ng-table="vm.datesTable"
		class="table table-bordered table-striped table-condensed" class="col-md-6">
			<tr>
				<th>Датум на празници</th>
			</tr>
			<tr ng-repeat="row in $data">
				<td>{{row.Date | date:'dd.MM.yyyy'}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<button class="btn btn-success" 
		ng-show="vm.changes"
		 ng-click="vm.saveDates()">
			 <i class="fa fa-save"></i>
			 <span>Зачувај датуми</span>
		 </button>
	 </div>
</div>
