<div class="row" ng-if="vm.loggedInUser.RoleID == 1">
  <div class="col-md-12">
    <h3 class="page-header">Администраторски панел</h3>
  </div>
</div>
<div class="row" ng-if="vm.loggedInUser.RoleID == 1">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{vm.users}}</div>
            <div>Корисници</div>
          </div>
        </div>
      </div>
      <a href="#/users">
        <div class="panel-footer">
          <span class="pull-left">Преглед</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{vm.costCeters}}</div>
            <div>Трошковни места</div>
          </div>
        </div>
      </div>
      <a href="#/costCenters">
        <div class="panel-footer">
          <span class="pull-left">Преглед</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{vm.costCeters}}</div>
            <div>Нарачки</div>
          </div>
        </div>
      </div>
      <a href="#/costCenters">
        <div class="panel-footer">
          <span class="pull-left">Преглед</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-cutlery fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{vm.costCeters}}</div>
            <div>Оброци</div>
          </div>
        </div>
      </div>
      <a href="#/costCenters">
        <div class="panel-footer">
          <span class="pull-left">Преглед</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6" ng-if="vm.loggedInUser.RoleID == 1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Број на нарачки по трошковни места</h3>
      </div>
      <div class="panel-body">
        <canvas class="chart chart-pie"
          chart-data="vm.chartOrder.data" 
          chart-labels="vm.chartOrder.label" 
          chart-options="vm.chartOrder.options">
        </canvas> 
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" ng-if="vm.loggedInUser.RoleID == 1 || vm.loggedInUser.RoleID == 6">
      <div class="panel-heading">
        <h3 class="panel-title">Однос на реализирани/нереализирани нарачки по ден</h3>
      </div>
      <div class="panel-body">
        <canvas class="chart chart-line"
          chart-data="vm.chartRatio.data" 
          chart-labels="vm.chartRatio.label" 
          chart-series="vm.chartRatio.series">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6" ng-if="vm.loggedInUser.RoleID == 1 || vm.loggedInUser.RoleID == 6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Однос на реализирани/нереализирани нарачки по трошковно место</h3>
      </div>
      <div class="panel-body">
        <canvas class="chart chart-bar"
          chart-data="vm.chartCCRatio.data" 
          chart-labels="vm.chartCCRatio.label" 
          chart-series="vm.chartCCRatio.series">
        </canvas>
      </div>
    </div>
  </div>
</div>