<div class="row">
  <h3 class="page-header">Оброци за {{vm.loggedInUser.Name}}</h3>
</div>
<div class="row header" style="width:auto;">
  <div class="col-md-3 form-group">
    <h4>Ден</h4>
  </div>
  <div class="col-md-1">
    <h4>Смена</h4>
  </div>
  <div class="col-md-3">
    <h4>Оброк</h4>
  </div>
  <div class="col-md-2">
    <h4>Гости</h4>
  </div>
  <div class="col-md-2">
    <h4>Забелешка</h4>
  </div>
</div>
<div class="row form-group" ng-repeat="date in vm.options">
  <div class="col-md-2" ng-init="date.shift = date.ChosenShift;date.selectedMeal = date.MealID;">
    <div class="col-md-6">
      <h4><strong>{{date.Date | dayoftheweek}}</strong></h4>
    </div>
    <div class="col-md-6">
      <h5><em>({{date.Date | shortdate}})</em></h5>
    </div>
  </div>
  <div class="col-md-2" ng-if="!vm.isAlreadyOrdered(date)">
    <select class="form-control" ng-model="date.shift" ng-change="date.selectedMeal = null;">
      <option value="" disabled selected>Одбери смена...</option>
      <option value="1" id="1">Прва смена</option>
      <option value="2" id="2">Втора смена</option>
    </select>
  </div>
  <div class="col-md-2" ng-if="vm.isAlreadyOrdered(date)">
    <input type="text" class="form-control" value="{{date.shift == 1? 'Прва смена': 'Втора смена'}}" readonly="true"/>
  </div>
  <div class="col-md-3" ng-if="!vm.isAlreadyOrdered(date)">
    <select class="form-control" ng-model="date.selectedMeal">
      <option value="" disabled selected>Одбери оброк...</option>
      <optgroup ng-repeat="meal in date.MealChoices" ng-if="date.shift == meal.Shift" label="{{meal.Type}}">
        <option value="{{meal.MealID}}">
          <p>{{meal.MealDescription}}</p>
        </option>
      </optgroup>
    </select>
  </div>
  <div class="col-md-3" ng-if="vm.isAlreadyOrdered(date)">
    <input type="text" class="form-control" value="{{vm.getMeal(date)}}" readonly="true"/>
  </div>
  <div class="col-md-2"  ng-if="!vm.isAlreadyOrdered(date)">
    <input type="number" class="form-control" placeholder="Внесете број на гости" ng-model="date.Guests" />
  </div>
  <div class="col-md-2"  ng-if="vm.isAlreadyOrdered(date)">
    <input type="number" class="form-control" placeholder="Внесете број на гости" ng-model="date.Guests" readonly="true" />
  </div>
  <div class="col-md-2" class="text-center">
    <span ng-if="date.IsCanceled" style="color: red;">Откажано</span>
  </div>
</div>

<div class="row col-md-9">
  <button ng-click="vm.confirm();" class="btn btn-success save-button pull-right">
    <i class="fa fa-save"></i>
    <span>Зачувај</span>
  </button>
</div>