<form name="submitMealForm" class="myForm" required ng-submit="vm.addMeal()">
		<div class="panel panel-default">
			<div class="row">
				<br/>
				<fieldset>
					<legend>Додади нов оброк</legend>
						<div class="col-md-12">
							<div class="col-md-3">
								<label for="MealDescription">Опис</label>
							</div>
							<div class="col-md-6">
								<input class="form-control" type="text" required name="MealDescription" id="MealDescription" ng-model="vm.MealDescription" placeholder="Внеси опис на оброк...">
							</div>	
							<div ng-messages="submitMealForm.MealDescription.$error">
							  <div ng-message="required">Задолжително поле</div>
							</div>	
						</div>
						<div class="col-md-12">
						<br/>
							<div class="col-md-3">
								<label for="MealType">Тип на оброк</label>
							</div>
							<div class="col-md-6">
								<select class="form-control" name="MealType" ng-model="vm.MealType">
									<option selected disabled value="">Одбери тип оброк</option>
									<option ng-repeat="mealtype in vm.allMealTypes" value="{{mealtype.ID}}">{{mealtype.Name}}</option>
								</select>	
							</div>
							<div ng-messages="submitMealForm.MealType.$error">
							  <div ng-message="required">Задолжително поле</div>
							</div>	
						</div>
				</fieldset>
			</div>
			<br/>
			<div class="row">
				<input type="submit" class="btn btn-info pull-right" value="Додади оброк"/>
			</div>
		</div>
</form>	
<br/>
<br/>
<div class="panel panel-default">
	<div class="col-md-12">
		<table class="table table-bordered table-striped table-condensed" class="col-md-12">
			<tr>
				<th>Опис на оброк</th>
				<th>Тип</th>
				<th colspan="2">Акции</th>
			</tr>
			<tr ng-repeat="row in vm.allMeals">
				<td>{{row.Description}}</td>
				<td>{{row.Type}}</td>
				<td>
			        <a href="" ng-click="vm.editMeals(row)">
			          <span class="glyphicon glyphicon-edit"></span>
			        </a>
			        &nbsp;&nbsp;
			        <a href="" ng-click="vm.openRemoveDialog(row)">
			       		<span class="glyphicon glyphicon-remove"></span>
			       	</a>	
				</td>
			</tr>
		</table>
	</div>
</div>