<div class="row margin-top-15">
	<div class="col-md-3">
		<div class="form-group">
			<label for="">Датум од</label>
			<p class="input-group">
				<input type="text" class="form-control date-control"
				uib-datepicker-popup="dd.MM.yyyy"
				ng-model="vm.dateFrom.selected"
				is-open="vm.dateFrom.open"
				datepicker-options="vm.dateOptions"
				ng-required="true"
				placeholder="дд.мм.гггг"
				readonly
				close-text="Close"
				ng-click="vm.openDateFrom()" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.openDateFrom()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="">Датум до</label>
			<p class="input-group">
				<input type="text" class="form-control date-control"
				uib-datepicker-popup="dd.MM.yyyy"
				ng-model="vm.dateTo.selected"
				is-open="vm.dateTo.open"
				datepicker-options="vm.dateOptions"
				ng-required="true"
				placeholder="дд.мм.гггг"
				readonly
				close-text="Close"
				 ng-click="vm.openDateTo()" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.openDateTo()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="">&nbsp;</label><br>
			<button class="btn btn-success"
			ng-click="vm.GetOrdersPerEmployee(vm.dateFrom.selected, vm.dateTo.selected);">
				<i class="fa fa-eye-slash"></i>
				<span>Прикажи</span>
			</button>
		</div>
	</div>
</div>
<div class="row margin-top-15">
	<div class="col-md-12">
		<table ng-table="vm.table"
		class="table table-bordered table-hover">
			<colgroup>
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="5%">
				<col width="10%">
				<col width="5%">
				<col width="10%">
			</colgroup>
			<tr>
				<th>Датум</th>
				<th>Вработен</th>
				<th>Трошковно место</th>
				<th>Смена</th>
				<th>Мени</th>
				<th>Гости</th>
				<th>Реализирано</th>
			</tr>
			<tr ng-repeat="order in $data">
				<td>{{order.Date | shortdate}}</td>
				<td>{{order.Name}}</td>
				<td>{{order.CostCenter}}</td>
				<td>{{order.Shift}}</td>
				<td>{{order.Menu}}</td>
				<td>{{order.Guests}}</td>
				<td>
					<span ng-if="order.IsRealized == true">Да</span>
					<span ng-if="order.IsRealized == false">Не</span>
				</td>
			</tr>
		</table>
	</div>
</div>