<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">Распоред на вработени</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label for="">Датум од</label>
			<p class="input-group">
				<input type="text" class="form-control date-control"
				uib-datepicker-popup="dd.MM.yyyy"
				ng-model="vm.dateFrom.selected"
				is-open="vm.dateFrom.open"
				datepicker-options="vm.dateOptions"
				ng-required="true"
				placeholder="дд.мм.гггг"
				readonly
				close-text="Close"
				ng-click="vm.openDateFrom()" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.openDateFrom()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="">Датум до</label>
			<p class="input-group">
				<input type="text" class="form-control date-control"
				uib-datepicker-popup="dd.MM.yyyy"
				ng-model="vm.dateTo.selected"
				is-open="vm.dateTo.open"
				datepicker-options="vm.dateOptions"
				ng-required="true"
				placeholder="дд.мм.гггг"
				readonly
				close-text="Close"
				 ng-click="vm.openDateTo()" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.openDateTo()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="">&nbsp;</label><br>
			<button class="btn btn-success"
			ng-click="vm.GetEmployeesPlan();">
				<i class="fa fa-eye-slash"></i>
				<span>Прикажи</span>
			</button>
		</div>
	</div>
</div>
<div class="row margin-top-15">
	<div class="col-md-12">
		<table ng-table="vm.table"
		class="table table-bordered table-hover">
			<colgroup>
				<col width="5%">
				<col width="10%">
				<col width="5%">
				<col width="10%">
				<col width="10%">
			</colgroup>
			<tr>
				<th>Датум</th>
				<th>Трошковно место</th>
				<th>Смена 1</th>
				<th>Смена 2</th>
				<th>Смена 3</th>
			</tr>
			<tr ng-repeat-start="item in $data" ng-if="item.CostCenters.length !=0">
				<td rowspan="{{item.CostCenters.length*2}}">{{item.Date | shortdate}}</td>
			</tr>
			<tr	ng-repeat-start="center in item.CostCenters">
				<td rowspan="2">{{center.Name}}</td>
				<td>{{center.Employees[0]}}</td>
				<td>{{center.Employees[1]}}</td>
				<td>{{center.Employees[2]}}</td>
			</tr>
			<tr	ng-repeat-end></tr>
			<tr ng-repeat-end></tr>
		</table>
	</div>
</div>