<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">Планирање трета смена</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active">
				<a data-target="#plan"
				data-toggle="tab" aria-expanded="true">План</a>
			</li>
			<li role="presentation">
				<a data-target="#realized"
				data-toggle="tab" aria-expanded="true">Реализирани</a>
			</li>
		</ul>
		<div ng-if="vm.loading">
			<i class="fa fa-2x fa-spin fa-spinner" aria-hidden="true"></i>
		</div>
		<div ng-if="!vm.loading">
			<div class="tab-content margin-top-15">
				<!-- Plan third shift -->	
				<div class="tab-pane fade active in" id="plan">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-8">
									<div ng-if="vm.thirdShiftData.length !== 0" class="alert alert-info">
										План за трета смена за датум од <strong>{{vm.toShortDate(vm.thirdShiftData[0].Date)}}</strong> до <strong>{{vm.toShortDate(vm.thirdShiftData[vm.thirdShiftData.length - 1].Date)}}</strong>.
									</div>
									<div ng-if="vm.thirdShiftData.length === 0" class="alert alert-danger">
										<p><strong>За следната недела не е внесен план за оброци!</strong></p>
										<p>Потребно е да се внесе план (што ќе може да се одбере како оброк) за следната недела со цел да може да се изврши планирањето за работници во трета смена.</p>
									</div>
								</div>
							</div>
							<div ng-if="vm.thirdShiftData.length !== 0" class="row">
								<div class="col-md-8">
									<div class="form-horizontal">
										<div ng-repeat="date in vm.thirdShiftData" class="form-group">
											<label class="col-sm-2 control-label">{{vm.getWeekDay(date.Date)}}</label>
											<div class="col-sm-2">
												<input class="form-control" type="number" min="0" max="100" step="1"
												ng-model="vm.thirdShiftModel[$index].Count" placeholder="Внеси број..." />
											</div>
											<div class="col-sm-2">
												<span class="label label-primary">
													{{date.Meal.MealDescription}}
												</span>
											</div>
											<div class="col-sm-6">
												<input class="form-control" type="text"
												ng-model="vm.thirdShiftModel[$index].Note" placeholder="Забелешка...">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-9 col-md-offset-3">
											<div class="form-group">
												<label>&nbsp;</label><br/>
												<!-- <button ng-if="vm.validateMethod()" class="btn btn-success center pull-right col-md-3" ng-click="vm.insertPlan()">
													<i class="fa fa-save"></i>
													<span>Зачувај</span>
												</button> -->
												<button class="btn btn-warning center pull-right col-md-3" ng-click="vm.updatePlan()">
													<i class="fa fa-save"></i>
													<span>Зачувај</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- End plan third shift -->
				<!-- Realized meals -->
				<div class="tab-pane fade" id="realized">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-8">
									<div ng-if="vm.realizedData.length !== 0" class="alert alert-info">
										Нереализирани оброци за датум:
										<strong>{{vm.toShortDate(vm.realizedData[0].Date)}}</strong>
										<small>({{vm.getWeekDay(vm.realizedData[0].Date)}})</small>
									</div>
									<div ng-if="vm.realizedData.length === 0" class="alert alert-danger">
										Нема оброци од трета смена за вчерашен датум.
									</div>
								</div>
							</div>
							<div class="row" ng-if="vm.realizedData.length != 0">
								<div class="col-md-2">
									<div class="form-group">
										<label>Вкупно оброци</label>
										<input type="text" class="form-control"
										readonly disabled value="{{vm.realizedData.length}}">
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label>Бр. реализирани</label>
										<input type="number" class="form-control"
										min="0" max="{{vm.realizedData.length}}"
										placeholder="Внесете број..." 
										ng-model="vm.realized" 
										disabled="disabled">
									</div>				
								</div>
								<!-- <div class="col-md-2">
									<div class="form-group">
										<label>&nbsp;</label><br>
										<button class="btn btn-success"
										ng-disabled="vm.notRealizedOriginal === vm.notRealized"
										ng-click="vm.updateRealized()">
										<i class="fa fa-save"></i>
										<span>Зачувај</span>
										</button>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
