<div class="row">
	<div class="col-md-12">
    	<h3 class="page-header">Планирање трета смена</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-8">
				<div ng-if="vm.thirdShiftData.length != 0" class="alert alert-info">
					План за трета смена за датум од <strong>{{vm.toShortDate(vm.thirdShiftData[0].Date)}}</strong> до <strong>{{vm.toShortDate(vm.thirdShiftData[vm.thirdShiftData.length - 1].Date)}}</strong>.
				</div>
				<div ng-if="vm.thirdShiftData.length == 0" class="alert alert-danger">
					<p><strong>За следната недела не е внесен план за оброци!</strong></p>
					<p>Потребно е да се внесе план (што ќе може да се одбере како оброк) за следната недела со цел да може да се изврши планирањето за работници во трета смена.</p>
				</div>
			</div>
		</div>
    	<div ng-if="vm.thirdShiftData.length != 0" class="row">
    		<div class="col-md-8">
        		<div class="form-horizontal">
        			<div ng-repeat="date in vm.thirdShiftData" class="form-group">
						<label class="col-sm-2 control-label">{{vm.getWeekDay(date.Date)}}</label>
						<div class="col-sm-2">
							<input class="form-control" type="number" min="0" max="100" step="1"
								ng-model="vm.thirdShiftModel[$index].Count" placeholder="Внеси број..." />
						</div>
						<div class="col-sm-2">
							<span class="label label-primary">
								{{date.Meal.MealDescription}}
							</span>
						</div>
						<div class="col-sm-6">
							<input class="form-control" type="text"
								ng-model="vm.thirdShiftModel[$index].Note" placeholder="Забелешка...">
						</div>
        			</div>
        		</div>
        		<div class="row">
					<div class="col-md-9 col-md-offset-3">
	        			<div class="form-group">
							<label>&nbsp;</label><br/>
							<button ng-if="vm.validateMethod()" class="btn btn-success center pull-right col-md-3" ng-click="vm.insert()">
								<i class="fa fa-save"></i>
								<span>Зачувај</span>
							</button>
							<button ng-if="!vm.validateMethod()" class="btn btn-warning center pull-right col-md-3" ng-click="vm.update()">
								<i class="fa fa-save"></i>
								<span>Промени</span>
							</button>
	        			</div>
					</div>
        		</div>
    		</div>
    	</div>
	</div>
</div>