<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">Управување со корисници</h3>
	</div>
	<div class="col-md-12" ng-hide="vm.isInserting" >
		<div class="row">
			<div class="col-md-3 pull-left">
				<button class="btn btn-info pull-left"
				ng-click="vm.showFilters=!vm.showFilters; vm.clearFilters()">
					<i class="fa fa-filter"></i>
					<span ng-if="!vm.showFilters">Прикажи филтри</span>
					<span ng-if="vm.showFilters">Исклучи филтри</span>
				</button>
			</div>
			<div class="col-md-3 pull-right">
				<button class="btn btn-success pull-right"
				ng-click="vm.isInserting=true; vm.showFilters=false; vm.clearFilters()">
					<i class="fa fa-plus"></i>
					<span>Додади нов корисник</span>
				</button>
			</div>
		</div>
	</div>
	<div ng-if="vm.showFilters" id="filters" class="col-md-12 margin-top-15 animate-show">
		<h4>Филтри</h4>
		<div class="col-md-1">
			<div class="form-group">
				<label for="">ID</label>
				<input type="text" class="form-control input-sm" 
				placeholder="Внесете ID..." 
				ng-model="vm.filters.PersonNumber" />
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="">Име и презиме</label>
				<input type="text" class="form-control input-sm" 
				placeholder="Внесете име..." 
				ng-model="vm.filters.Name" />
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="">Корисничко име</label>
				<input type="text" class="form-control input-sm" 
				placeholder="Внесете корисничко име..." 
				ng-model="vm.filters.Username" />
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="">Број на картичка</label>
				<input type="text" class="form-control input-sm" 
				placeholder="Внесете број на картичка..." 
				ng-model="vm.filters.CardNumber" />
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="vm.isInserting">
	<div class="col-md-12">
		<form novalidate name="form" ng-submit="vm.save(); form.$setUntouched(); form.$setPristine()" required>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-error' : form.name.$error.required && form.name.$touched }">
						<label for="namesurname">Име и презиме</label>
						<input class="form-control" required type="text" name="name" id="name" ng-model="vm.name" placeholder="Внеси име и презиме..." />
					</div>
					<div class="form-group" ng-class="{ 'has-error' : (form.number.$error.required && form.number.$touched) || (form.number.$error.pattern && form.number.$touched) }">
						<label for="number">ID број</label>
						<input type="text" class="form-control" id="number" ng-pattern="vm.regex.number" limit-to="8" required name="number" 
						ng-model="vm.personNumber" placeholder="Внеси број на вработен..."/>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : (form.usrName.$error.required && form.usrName.$touched) ||  (form.usrName.$error.pattern && form.usrName.$touched)}">
						<label for="usrName">Корисничко име</label>	
						<input type="text" class="form-control" id="usrName" ng-pattern="vm.regex.username" name="usrName" ng-model="vm.username" placeholder="Внеси корисничко име (MKxxxx)..." required />
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="vm.isEmployee"> вработен во Пивара?
						</label>&nbsp;
						<label>
							<input type="checkbox" ng-model="vm.worksHolidays"> работи празници/викенди?
						</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-error' : form.costCenter.$error.required && form.costCenter.$touched }">
						<label for="costCenter">Трошковно место</label>
						<select id="costCenter" name="costCenter" required class="form-control" ng-model="vm.costCenter">
							<option selected disabled value="">Одбери трошковно место</option>
							<option ng-repeat="costCenter in vm.allCostCenters" value="{{costCenter.ID}}">{{costCenter.Code}}</option>
						</select>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : form.role.$error.required && form.role.$touched }">
						<label for="role">Улога</label>
						<select id="role" name="role" required 
						class="form-control" ng-model="vm.role">
							<option selected disabled value="">Одбери улога</option>
							<option ng-repeat="role in vm.Roles" value="{{role.ID}}">{{role.RoleName}}</option>
						</select>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group" ng-class="{ 'has-error' : (form.cardNumber.$error.required && form.cardNumber.$touched)  ||  (form.cardNumber.$error.pattern && form.cardNumber.$touched)}">
								<label for="cardNumber">Број на картичка</label>
								<input type="text" 
								ng-model="vm.cardNumber"
								name="cardNumber" required class="form-control" 
								ng-pattern="vm.regex.card" id="cardNumber"  placeholder="Внеси картичка...">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" ng-class="{ 'has-error' : form.cardType.$error.required && form.cardType.$touched }">
								<label for="cardType">Тип на картичка</label>
								<select class="form-control" id="cardType" ng-model="vm.cardType" required>
									<option value="" disabled>Одбери тип на картичка...</option>
									<option value="Персонална">Персонална</option>
									<option value="Дополнителна">Дополнителна</option>
								</select>
								<!-- <input type="text" required name="cardType" class="form-control" id="cardType" ng-model="vm.cardType" placeholder="Внеси тип на картичка..."> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label>&nbsp;</label><br>

						<button class="btn btn-success"
						ng-disabled="(form.name.$error.required && form.name.$untouched) ||
									(form.number.$error.required && form.number.$untouched) ||
									(form.number.$error.required && form.number.$touched) ||
									(form.number.$error.pattern && form.number.$touched) ||
									(form.usrName.$error.required && form.usrName.$untouched) ||
									(form.usrName.$error.required && form.usrName.$touched) ||
									(form.usrName.$error.pattern && form.usrName.$touched) ||
									(form.costCenter.$error.required && form.costCenter.$untouched) ||
									(form.role.$error.required && form.role.$untouched) ||
									(form.cardNumber.$error.required && form.cardNumber.$untouched) ||
									(form.cardNumber.$error.required && form.cardNumber.$touched) ||
									(form.cardNumber.$error.pattern && form.cardNumber.$touched) ||
									(form.cardType.$error.required && form.cardType.$untouched)"
						type="submit">
							<i class="fa fa-save"></i>
							<span>Зачувај</span>
						</button>
						<button class="btn btn-danger" ng-click="vm.isInserting = false;">
							<i class="fa fa-close"></i>
							<span>Откажи</span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row margin-top-15">
	<div class="col-md-12">
		<table ng-table="vm.table"
		class="table table-bordered table-striped">
			<colgroup>
				<col width="8%">
				<col width="15%">
				<col width="10%">
				<col width="8%">
				<col width="13%">
				<col width="13%">
				<col width="10%">
				<col width="5%">
				<col width="5%">
				<col width="7%">
				<col width="12%">
			</colgroup>
			<tr>
				<th>ID број</th>
				<th>Име и презиме</th>
				<th>Корисничко име</th>
				<th>Трош. место</th>
				<th>Улога</th>
				<th>Бр. картичка</th>
				<th>Тип на картичка</th>
				<th>Враб.?</th>
				<th>Акт.?</th>
				<th>Раб. Празн.</th>
				<th>Акции</th>
			</tr>
			<tr 
			ng-class="{'danger': !row.IsActive }"
			ng-repeat="row in $data | filter: vm.filters">
				<td	ng-if="!vm.isEditing || vm.editIndex != $index">{{row.PersonNumber}}</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">{{row.Name}}</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">{{row.Username}}</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">{{row.CostCenterName}}</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">{{row.RoleName}}</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">{{row.CardNumber}}</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">{{row.CardType}}</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">
					<span ng-if="row.IsEmployee">Да</span>
					<span ng-if="!row.IsEmployee">Не</span>
				</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">
					<span ng-if="row.IsActive != false">Да</span>
					<span ng-if="row.IsActive == false">Не</span>
				</td>
				<td ng-if="!vm.isEditing || vm.editIndex != $index">
					<span ng-if="row.WorksHolidays == true">Да</span>
					<span ng-if="row.WorksHolidays == false">Не</span>
				</td>
				<td ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
	              	<input ng-switch-default type="text" name="" ng-model="vm.editModel.PersonNumber" 
	              	class="editable-input form-control input-sm" required />
	            </td>
	            <td ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
	              	<input ng-switch-default type="text" name="" ng-model="vm.editModel.Name" 
	              	class="editable-input form-control input-sm" required />
	            </td>
	            <td ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
	              	<input ng-switch-default type="text" name="" ng-model="vm.editModel.Username" 
	              	class="editable-input form-control input-sm" required />
	            </td>
				<td ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
					<select class="form-control input-sm" name="MealType" ng-model="vm.editModel.CostCenterID"
					 ng-options="center.ID as center.Name for center in vm.allCostCenters"
					>
					</select>
	            </td>
				<td ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
					<select class="form-control input-sm" name="MealType" ng-model="vm.editModel.RoleID"
					 ng-options="role.ID as role.RoleName for role in vm.Roles"
					>
					</select>
	            </td>
	            <td ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
	              	<input ng-switch-default type="text" name="" ng-model="vm.editModel.CardNumber" limit-to="11"
	              	class="editable-input form-control input-sm" required />
	            </td>
	            <td ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
	              	<!-- <input ng-switch-default type="text" name="" ng-model="vm.editModel.CardType" 
	              	class="editable-input form-control input-sm" required /> -->
	              	<select ng-switch-default class="form-control" id="cardType" ng-model="vm.editModel.CardType"
	              	class="editable-input form-control input-sm" required >
						<option value="" disabled>Одбери тип на картичка...</option>
						<option value="Персонална">Персонална</option>
						<option value="Дополнителна">Дополнителна</option>
					</select>
	            </td>
	            <td ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
	              	<input ng-switch-default type="checkbox" name="" ng-model="vm.editModel.IsEmployee" required />
	            </td>
	            <td  ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
	              	<input ng-switch-default type="checkbox" name="" ng-model="vm.editModel.IsActive" required />
	            </td>
	            <td  ng-if="vm.isEditing && vm.editIndex == $index" class="controls" ng-switch="col.dataType">
	              	<input ng-switch-default type="checkbox" name="" ng-model="vm.editModel.WorksHolidays" required />
	            </td>
				<td class="command">
					<button class="btn btn-primary btn-sm" ng-click="vm.update()" ng-if="vm.isEditing && vm.editIndex == $index" 
					ng-disabled="vm.editModel.PersonNumber == ''">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
					<button class="btn btn-default btn-sm" ng-click="vm.cancel(row, $index)" ng-if="vm.isEditing && vm.editIndex == $index">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<button class="btn btn-default btn-sm" ng-click="vm.edit(row, $index);" ng-if="!vm.isEditing || vm.editIndex != $index">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-danger btn-sm" ng-click="vm.openRemoveDialog(row)" ng-if="!vm.isEditing || vm.editIndex != $index">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>