<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">Внес на оброк за ангажирани работници</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<div class="form-group">
			<label for="">Датум</label>
			<p class="input-group">
				<input type="text" class="form-control date-control"
				ng-click="vm.openDate()"
				ng-change="vm.getMealsForDay()"
				uib-datepicker-popup="dd.MM.yyyy"
				ng-model="vm.date.selected"
				is-open="vm.date.open"
				datepicker-options="vm.dateOptions"
				ng-required="true"
				placeholder="дд.мм.гггг"
				readonly
				close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.openDate()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<form name="vm.workerForm" novalidate>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
					<h3>Прва смена</h3>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="">Бр. работници</label>
						<input type="number" class="form-control" min="0"
						required ng-model="vm.model.firstShift.count"
						placeholder="Внесете број...">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Оброк</label>
						<ui-select 
					  	ng-model="vm.model.firstShift.mealId" 
						theme="bootstrap"
						style="width: 100%;">
						    <ui-select-match placeholder="Одбери оброк...">
						    {{$select.selected.MealDescription}}
						    </ui-select-match>
						    <ui-select-choices 
						    group-by="'Type'" 
						    repeat="meal.MealID as meal in vm.meals.firstShift | filter: $select.search">
						      <div ng-bind-html="meal.MealDescription"></div>
						    </ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
					<h3>Втора смена</h3>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="">Бр. работници</label>
						<input type="number" class="form-control" min="0"
						required ng-model="vm.model.secondShift.count"
						placeholder="Внесете број...">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Оброк</label>
						<ui-select 
					  	ng-model="vm.model.secondShift.mealId" 
						theme="bootstrap"
						style="width: 100%;">
						    <ui-select-match placeholder="Одбери оброк...">
						    {{$select.selected.MealDescription}}
						    </ui-select-match>
						    <ui-select-choices 
						    group-by="'Type'" 
						    repeat="meal.MealID as meal in vm.meals.firstShift | filter: $select.search">
						      <div ng-bind-html="meal.MealDescription"></div>
						    </ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
					<h3>Трета смена</h3>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="">Бр. работници</label>
						<input type="number" class="form-control" min="0"
						required ng-model="vm.model.thirdShift.count"
						placeholder="Внесете број...">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Оброк</label>
						<ui-select 
					  	ng-model="vm.model.thirdShift.mealId" 
						theme="bootstrap"
						style="width: 100%;">
						    <ui-select-match placeholder="Одбери оброк...">
						    {{$select.selected.MealDescription}}
						    </ui-select-match>
						    <ui-select-choices 
						    group-by="'Type'" 
						    repeat="meal.MealID as meal in vm.meals.thirdShift | filter: $select.search">
						      <div ng-bind-html="meal.MealDescription"></div>
						    </ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-8">
		<button class="btn btn-success" ng-disabled="!vm.hasChange()" ng-click="vm.submit()">Зачувај</button>
<!-- 		<button class="btn btn-danger" ng-disabled="!vm.enableDelete()" ng-click="vm.delete()">Избриши план</button> -->
	</div>
</div>