<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
	    <a class="navbar-brand" href="#/">
	        <img alt="Brand" src="../images/logo.png" height="25px">
	    </a>
	    <a class="navbar-brand" href="#/">
	        Кантина
	    </a>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<ul class="nav navbar-nav navbar-right pull-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			Корисник <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Одјави се</a></li>
			</ul>
		</li>
	</ul>
	<!-- /.navbar-header -->
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav in" id="side-menu">
				<li ng-class="{'active': collapseVar==2}">
					<a data-target="#systemManagement" data-toggle="collapse" ng-click="check(2)">
						<i class="fa fa-users fa-fw"></i>
						<span>Администрација</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level" ng-class="[collapseVar!=2 ?'panel-collapse collapse':'panel-collapse collapse in']" id="systemManagement">
						<li>
							<a href="/#/users">
								<i class="fa fa-user" aria-hidden="true"></i>
								<span>Корисници</span>
							</a>
						</li>
						<li>
							<a href="/#/costCenter">
								<i class="fa fa-university" aria-hidden="true"></i>
								<span>Трошковни места</span>
							</a>
						</li>
						<li>
							<a href="/#/dates">
								<i class="fa fa-calendar" aria-hidden="true"></i>
								<span>Датуми</span>
							</a>
						</li>
					</ul>
				</li>
				<li ng-class="{ 'active': collapseVar==3 || collapseVar== 30 || collapseVar==31 || collapseVar==32 }">
					<a data-target="#menuManagement" data-toggle="collapse" ng-click="check(3)">
						<i class="fa fa-cutlery fa-fw"></i>
						<span>Управување со менија</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level" ng-class="[collapseVar!=3 && collapseVar!=31 && collapseVar!=32 && collapseVar!=30 ?'panel-collapse collapse':'panel-collapse collapse in']" id="menuManagement" >
						<li>
							<a href="/#/meals">
								<i class="fa fa-list-alt" aria-hidden="true"></i>
								<span>Оброци</span>
							</a>
						</li>
						<li>
							<a href="/#/mealType">
								<i class="fa fa-list" aria-hidden="true"></i>
								<span>Тип на оброк</span>
							</a>
						</li>
						<li ng-class="{ 'active': collapseVar==30 || collapseVar==31 ||collapseVar==32}"  >
							<a data-target="#menuPlaning" data-toggle="collapse" ng-click="check(30)">
								<i class="fa fa-book" aria-hidden="true"></i>
								<span>Менија</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-third-level" 
							ng-class="[collapseVar!=30 || collapseVar!=31 || collapseVar!=32?'panel-collapse collapse':'panel-collapse collapse in']" 
							id="menuPlaning" >
								<li ng-class="{ 'active': collapseVar==31}">
									<a href="/#/menu/planning">
										<i class="fa fa-book" aria-hidden="true"></i>
										<span>Планирање</span>
									</a>
								</li>
								<li ng-class="{ 'active': collapseVar==32}">
									<a href="/#/menu/preview">
										<i class="fa fa-list" aria-hidden="true"></i>
										<span>Преглед</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li ng-class="{'active': collapseVar==4}">
					<a data-target="#menuForCategory" data-toggle="collapse" ng-click="check(4)">
						<i class="fa fa-cubes fa-fw"></i>
						<span>Mени за категорија</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level" ng-class="[collapseVar!=4 ?'panel-collapse collapse':'panel-collapse collapse in']" id="menuForCategory">
						<li>
							<a href="/#/menusPerCategory">Планирање оброци по категории</a>
						</li>
						<li>
							<a href="">Реализирани оброци</a>
						</li>
					</ul>
				</li>
				<li ng-class="{active: collapseVar==5}">
					<a data-target="#reports" data-toggle="collapse" ng-click="check(5)">
						<i class="fa fa-table fa-fw"></i>
						<span>Извештаи</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level" ng-class="[collapseVar!=5 ?'panel-collapse collapse':'panel-collapse collapse in']" id="reports">
						<li>
							<a href="">Дневен извештај</a>
						</li>
						<li>
							<a href="">Неделен извештај</a>
						</li>
						<li>
							<a href="">Извештај за гости/надворешни соработници/ангажирани работници</a>
						</li>
						<li>
							<a href="">Извештај за реализирани/нереализирани оброци</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.sidebar-collapse -->
	</div>
</nav>